<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>Register</title>
</head>
<body>
	<form class="box" action="http://localhost:5000/api/v1/auth/register" method="post">
		<h1>Register</h1>
		<input type="text" name="name" placeholder="Name">
		<input type="email" name="email" placeholder="E-mail">
		<input type="password" name="password" placeholder="Password">
		<input type="text" name="role" placeholder="Role">

		<input type="Submit" name="" value="Register">

	</form>

</body>
</html>